body{
    background-color: #7ecfef;
    font: Georgia,"Times News Roman";
    color: #333333 ;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;
}
header{
    background-color: #333333;
}
h1{
    color: #eee;
    font-size: 28px;
    padding: 20px 0;
}
h2{
    font-size: 24px;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

#main-bio, #contact-info, #bio-image{
    float: left;
}

#bio-image{
    width: 200px;
}

img{
    alt: inherit;
    margin: 10px;
}

#main-bio{
    width: 70%;
}

#contact-info{
    width: 30%;
}
